<form style="text-align: center" (submit)="log($event)" [class.has-error]="name.invaild && name.touched">
  <label>Username:</label>
  <input type="text" placeholder="Username" name="username" required id="username" autocomplete="username"><br/>
  <label>Password:</label>
  <input type="password" ng-pattern="/^[0-9a-zA-Z_]{0,11}$/" placeholder="Password" name="username" required id="password"
    autocomplete="current-password"><br/>
  <input type="submit" value="Login"> &nbsp;
  <button>Register</button>
  <p>{{errorMsg}}</p>
</form>