<div>
  <br>
  <br>
  <label>
    first name:
    <br>
    <input [(ngModel)]="user.firstName" placeholder="First Name">
  </label>
  <br>
  <label>last name:
    <br>
    <input [(ngModel)]="user.lastName" placeholder="Last Name">
  </label>
  <br>
  <label>gender:
    <br>
    <input [(ngModel)]="user.gender" placeholder="Gender">
  </label>
  <br>
  <label>age:
    <br>
    <input [(ngModel)]="user.age" placeholder="Age">
  </label>
  <br>
  <label>group:
    <br>
    <input [(ngModel)]="user.groupJoint" placeholder="Group">
  </label>
  <br>
</div>
