<div *ngIf="loginStatus">
  <br>
  <br>
  <form style="text-align:center">
    <p style="text-align: right" *ngIf="loginStatus" id="out"><button (click)="logout()">logout</button></p>
    <label>First name: </label>
    <input name="firstName" [(ngModel)]="user.firstName" placeholder="First Name">

    <br/><br/>

    <label>Last name:
    </label>
    <input name="lastName" [(ngModel)]="user.lastName" placeholder="Last Name">
    <br/><br/>
    <label>Gender:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input name="gender" [(ngModel)]="user.gender" placeholder="Gender">
    <br/><br/>
    <label>Age: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input name="age" [(ngModel)]="user.age" placeholder="Age">
    <br/><br/>
    <label>Group: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input name="groupJoint" [(ngModel)]="user.groupJoint" placeholder="Group">

  </form>

  <br><br/>
</div>
<div *ngIf="!loginStatus">
  <p>Sorry you have to <a href="/">login</a> first!</p>
</div>